<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAayz4lC9eaMCEP0xl62x79JvAggYyKNh8</string>
	<key>GCM_SENDER_ID</key>
	<string>845500362983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitable.trainer</string>
	<key>PROJECT_ID</key>
	<string>fitable-trainer</string>
	<key>STORAGE_BUCKET</key>
	<string>fitable-trainer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845500362983:ios:be3905f6db9aa8dfc5b242</string>
</dict>
</plist>